### Copyright Notice

Local and international copyright laws protect this material. Repurposing and reproducing this
material from DeepSphere.AI violates the law

In [ ]:
import pandas as vAR_pd
import numpy as vAR_np
import matplotlib.pyplot as vAR_plt
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
%matplotlib inline
from sklearn.tree import DecisionTreeRegressor 
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder


vAR_dataset = vAR_pd.read_csv("/content/MagicBricks.csv")

class DecisionTree:
  def dataassign(self,vAR_numcols,vAR_categcols):    
     print(vAR_numcols,vAR_categcols)
  def scaling(self,vAR_scale):
     print(vAR_scale)
  def encoding(self,vAR_encode):
     print(vAR_encode) 
  def modeltraining(self,vAR_itrain, vAR_itest, vAR_otrain, vAR_otest):
    vAR_model = DecisionTreeRegressor()
    vAR_model.fit(vAR_itrain, vAR_otrain) 
    vAR_trainaccuracy = vAR_model.score(vAR_itrain,vAR_otrain)  
    vAR_testaccuracy = vAR_model.score(vAR_itest,vAR_otest)     
    print(vAR_trainaccuracy,vAR_testaccuracy)

def main():
    #values assigning
    vAR_input = vAR_dataset.drop(columns=["Price","Status"],axis=1)
    vAR_output = vAR_dataset["Price"].values
    #vAR_output = vAR_output.reshape(-1,1)
    vAR_numcols = vAR_input.select_dtypes(include=vAR_np.number).columns.tolist()
    vAR_categcols = vAR_input.select_dtypes('object').columns.tolist()

    #imputing
    vAR_imputer = SimpleImputer().fit(vAR_input[vAR_numcols])
    vAR_input[vAR_numcols] = vAR_imputer.transform(vAR_input[vAR_numcols])
    #scaling
    vAR_scaler = MinMaxScaler()
    vAR_scaler.fit(vAR_input[vAR_numcols])
    vAR_input[vAR_numcols] = vAR_scaler.transform(vAR_input[vAR_numcols])
    vAR_scale = vAR_input[vAR_numcols]
    #encoding
    vAR_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
    vAR_encoder.fit(vAR_input[vAR_categcols])
    vAR_encodecols = list(vAR_encoder.get_feature_names(vAR_categcols))
    vAR_input[vAR_encodecols] = vAR_encoder.transform(vAR_input[vAR_categcols])
    vAR_encoding = vAR_input[vAR_encodecols]
    #training and test dataset
    vAR_itrain, vAR_itest, vAR_otrain, vAR_otest = train_test_split(vAR_input[vAR_numcols + vAR_encodecols], vAR_output, test_size = 0.2,random_state=2)

    vAR_Obj = DecisionTree()

    print("the dataset numerical and object variables are is:")
    vAR_DA = vAR_Obj.dataassign(vAR_numcols,vAR_categcols)    
    vAR_DA
    
    print(" After scaling")
    vAR_sc = vAR_Obj.scaling(vAR_scale)
    vAR_sc

    print("After Encoding")
    vAR_ec = vAR_Obj.encoding(vAR_encoding)
    vAR_ec

    print("the model accuracy is")
    vAR_M = vAR_Obj.modeltraining(vAR_itrain, vAR_itest, vAR_otrain, vAR_otest)
    vAR_M






if __name__=="__main__":
    main()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

the dataset numerical and object variables are is:
['Area', 'BHK', 'Bathroom', 'Parking', 'Per_Sqft'] ['Furnishing', 'Locality', 'Transaction', 'Type']
 After scaling
          Area       BHK  Bathroom   Parking  Per_Sqft
0     0.031806  0.222222  0.166667  0.000000  0.079260
1     0.029746  0.111111  0.166667  0.000000  0.029702
2     0.037986  0.111111  0.166667  0.000000  0.029702
3     0.023566  0.111111  0.166667  0.000000  0.029702
4     0.025626  0.111111  0.166667  0.000000  0.029702
...        ...       ...       ...       ...       ...
1254  0.168507  0.333333  0.666667  0.017699  0.064023
1255  0.042106  0.222222  0.166667  0.017699  0.064023
1256  0.034896  0.222222  0.333333  0.017699  0.064023
1257  0.039634  0.111111  0.166667  0.000000  0.064023
1258  0.454103  0.222222  0.333333  0.000000  0.064023

[1259 rows x 5 columns]
After Encoding
      Furnishing_Furnished  Furnishing_Semi-Furnished  Furnishing_Unfurnished  \
0                      0.0                        1.0                     0.0
1                      0.0                        1.0                     0.0
2                      1.0                        0.0                     0.0
3                      0.0                        1.0                     0.0
4                      0.0                        1.0                     0.0
...                    ...                        ...                     ...
1254                   0.0                        0.0                     1.0
1255                   0.0                        1.0                     0.0
1256                   0.0                        1.0                     0.0
1257                   0.0                        0.0                     1.0
1258                   0.0                        0.0                     1.0

      Furnishing_nan  Locality_APL Builder Floor, Greater Kailash 1  \
0                0.0                                            0.0
1                0.0                                            0.0
2                0.0                                            0.0
3                0.0                                            0.0
4                0.0                                            0.0
...              ...                                            ...
1254             0.0                                            0.0
1255             0.0                                            0.0
1256             0.0                                            0.0
1257             0.0                                            0.0
1258             0.0                                            0.0

      Locality_Aashirwaad Chowk, Dwarka  \
0                                   0.0
1                                   0.0
2                                   0.0
3                                   0.0
4                                   0.0
...                                 ...
1254                                0.0
1255                                0.0
1256                                0.0
1257                                0.0
1258                                0.0

      Locality_Abhimanyu Apartments, Vasundhara Enclave  \
0                                                   0.0
1                                                   0.0
2                                                   0.0
3                                                   0.0
4                                                   0.0
...                                                 ...
1254                                                0.0
1255                                                0.0
1256                                                0.0
1257                                                0.0
1258                                                0.0

      Locality_Abul Fazal Enclave Part 1, Okhla  \
0                                           0.0
1                                           0.0
2                                           0.0
3                                           0.0
4                                           0.0
...                                         ...
1254                                        0.0
1255                                        0.0
1256                                        0.0
1257                                        0.0
1258                                        0.0

      Locality_Abul Fazal Enclave Part-II, Okhla  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0
...                                          ...
1254                                         0.0
1255                                         0.0
1256                                         0.0
1257                                         0.0
1258                                         0.0

      Locality_Adarsh Homes, Dwarka Mor  ...  \
0                                   0.0  ...
1                                   0.0  ...
2                                   0.0  ...
3                                   0.0  ...
4                                   0.0  ...
...                                 ...  ...
1254                                0.0  ...
1255                                0.0  ...
1256                                0.0  ...
1257                                0.0  ...
1258                                0.0  ...

      Locality_Vishwas Nagar, Shahdara  Locality_Yamuna Apartment, Alaknanda  \
0                                  0.0                                   0.0
1                                  0.0                                   0.0
2                                  0.0                                   0.0
3                                  0.0                                   0.0
4                                  0.0                                   0.0
...                                ...                                   ...
1254                               0.0                                   0.0
1255                               0.0                                   0.0
1256                               0.0                                   0.0
1257                               0.0                                   0.0
1258                               0.0                                   0.0

      Locality_Yamuna Vihar, Shahdara  \
0                                 0.0
1                                 0.0
2                                 0.0
3                                 0.0
4                                 0.0
...                               ...
1254                              0.0
1255                              0.0
1256                              0.0
1257                              0.0
1258                              0.0

      Locality_Zakir Nagar, New Friends Colony  \
0                                          0.0
1                                          0.0
2                                          0.0
3                                          0.0
4                                          0.0
...                                        ...
1254                                       0.0
1255                                       0.0
1256                                       0.0
1257                                       0.0
1258                                       0.0

      Locality_mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar  \
0                                                   0.0
1                                                   0.0
2                                                   0.0
3                                                   0.0
4                                                   0.0
...                                                 ...
1254                                                0.0
1255                                                0.0
1256                                                0.0
1257                                                0.0
1258                                                0.0

      Transaction_New_Property  Transaction_Resale  Type_Apartment  \
0                          1.0                 0.0             0.0
1                          1.0                 0.0             1.0
2                          0.0                 1.0             1.0
3                          0.0                 1.0             0.0
4                          1.0                 0.0             0.0
...                        ...                 ...             ...
1254                       1.0                 0.0             0.0
1255                       0.0                 1.0             0.0
1256                       1.0                 0.0             0.0
1257                       0.0                 1.0             0.0
1258                       1.0                 0.0             0.0

      Type_Builder_Floor  Type_nan
0                    1.0       0.0
1                    0.0       0.0
2                    0.0       0.0
3                    1.0       0.0
4                    1.0       0.0
...                  ...       ...
1254                 1.0       0.0
1255                 1.0       0.0
1256                 1.0       0.0
1257                 1.0       0.0
1258                 1.0       0.0

[1259 rows x 374 columns]
the model accuracy is
0.9999764828538262 0.7707307409449201

In [ ]:
import pandas as vAR_pd

In [ ]:
vAR_dataset = vAR_pd.read_csv("/content/MagicBricks.csv")
vAR_dataset

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0
...,...,...,...,...,...,...,...,...,...,...,...
1254,4118.0,4,5.0,Unfurnished,Chittaranjan Park,3.0,55000000,Ready_to_move,New_Property,Builder_Floor,12916.0
1255,1050.0,3,2.0,Semi-Furnished,Chittaranjan Park,3.0,12500000,Ready_to_move,Resale,Builder_Floor,12916.0
1256,875.0,3,3.0,Semi-Furnished,Chittaranjan Park,3.0,17500000,Ready_to_move,New_Property,Builder_Floor,12916.0
1257,990.0,2,2.0,Unfurnished,Chittaranjan Park Block A,1.0,11500000,Ready_to_move,Resale,Builder_Floor,12916.0
1258,11050.0,3,3.0,Unfurnished,Chittaranjan Park,1.0,18500000,Ready_to_move,New_Property,Builder_Floor,12916.0

# Disclaimer

      We are providing this code block strictly for learning and researching, this is not a production-ready code. We have no liability on this particular code under any circumstances;users should use this code at their own risk. All software, hardware and other products thatare referenced in these materials belong to the respective vendor who developed or who ownsthis product.

**Author Signature**

![image.png]()